.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge-dot {
  background-color: tomato;
  width: 7px;
  height: 7px;
  position: absolute;
  right: -7px;
  top: -7px;
  border-radius: 50%;
}
